[submodule "SUBMODULES/RD_DSP"]
	path = SUBMODULES/RD_DSP
	url = https://github.com/recluse-audio/RD_DSP.git
[submodule "PUBLIC/SUBMODULES/RECLUSE_UI"]
	path = PUBLIC/SUBMODULES/RECLUSE_UI
	url = https://github.com/recluse-audio/RECLUSE_UI.git
